.Panel {
  clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
  background-color: var(--primary-color-transparent);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  width: 100%;
  @include for-sm {
    width: 100%;
  }
  @include for-md {

    width: 75%;
  }
  @include for-lg {
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
  }
  @include for-xl {
    width: 65%;
  }
  @include for-xxxl {
    width: 50%;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
  }

  .shine {
    position: absolute;
    top: -800px;
    left: -800px;
    opacity: .65;
  }

  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
