.News {
  width: 100%;
  color: currentColor;
  display: grid;
  .cover {
    position: relative;
    width: 50%;
    justify-self: center;
    margin-bottom: 30px;
    @include for-xxl{
      width: 100%;
    }
  }
  @include for-md {
    max-width: 340px;
  }
  @include for-lg {
    max-width: 540px;
  }
  @include for-xxl {
    max-width: 450px;
  }

  h3 {
    font-weight: 300;
    margin: 0;
  }
  .title{
    @include f5;
    @include for-xl{

    }
  }
  p.description {
    @include f9() {
      font-weight: 400;
    }
    @include for-xxl {
      @include f6() {
        font-weight: 500;
      }
    }
    @include for-xxl {

    }
  }
}
