@import 'src/scss/global.scss';
.MobileMenu {
  .burger{

    width: 30px;
    height: 30px;
    padding: 5px;
    svg{
      color: $dark-text-color;
    }

    //@include before-lg{
    //  display: none;
    //}
  }
}
