.FooterSection {
  position: relative;
  :global(.background){
    filter: brightness(50%);
  }
  .head {
    margin-bottom: 3vh;
    @include for-md{
      margin-bottom: 10vh;
    }
    h2 {
      margin: 0;
    }
  }

  .inner {
    display: grid;
    gap: 30px;
    @include for-lg {
      grid-template-columns: 1fr 1fr;
    }

    .menu {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content auto;
      :local(.head){
        @include before-lg{
          grid-column: 1/3;
        }
      }
      @include for-sm {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
        gap: 30px;
      }
      @include for-lg {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      a {
        span {
          color: rgba(#fff, 0.7);
          font-weight: 400;
          letter-spacing: 0.05em;
          @include f9();
          @include for-md {
            font-weight: 500;
            @include f6();
          }
        }
      }
    }

    form {
      display: grid;
      gap: 15px;
      max-width: 425px;
      padding: 0 20px 0 0;
      color: #fff;
      max-height: 355px;
      @include for-lg {
        justify-self: center;
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/3;
      }

      button {
        max-width: 120px;
        height: 33px;
        @include for-lg {
          height: 55px;
          max-width: 200px;
        }
      }

      textarea {
        resize: none;
      }
    }

    :global(.background) {
      img {
        filter: brightness(60%);
      }
    }
  }
  .emailLink{
    @include f6();
  }
  .copyright {
    width: 100%;
    background-color: #454545;
    z-index: 100;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include f10();
    @include for-md {
      @include f7();
      height: 66px;
    }
  }
  .socials{
    width: 100%;
    z-index: 99;
    position: absolute;
    bottom: 30px + 10px;

    .items{
      justify-content: right;
      display: flex;
      align-items: center;
      gap: 20px;
      @include for-xs{
        justify-content: center;
      }

    }
    @include for-lg{
      bottom: 120px;
    }
    svg{
      cursor: pointer;
      width: auto;
      height: 24px;
      transition: .3s;
      &:hover{
        transform: scale(1.3);
        transition: .3s;
      }
    }
  }
}



