.Advantage {
  display: grid;
  background-color: rgba(#252525, 0.8);
  padding: 15px;
  transition: .25s;
  cursor: pointer;
  overflow: hidden;
  grid-template-rows: 35px auto;
  grid-template-columns: min-content 5fr;
  width: 100%;
  height: min-content;
  gap: 10px;
  @include for-md {
    grid-template-rows: 35px auto;
    width: 265px;
    height: 200px;
    grid-gap: 7px;
    padding: 15px;
  }
  @include for-xxl {
    width: 345px;
    height: 275px;
    grid-template-rows: 60px auto;
  }
  @include for-xxxl {
    width: 360px;
  }

  h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0em;
    height: min-content;
    @include for-md{
      grid-column: 1/3;
    }
    @include f8();
    @include for-xxl {
      @include f5();
    }
  }

  .icon {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    width: 100%;
    min-width: 70px;
    @include for-md{
      grid-row: 2/3;
      align-self: flex-start;
    }
    @include for-lg{
      min-width: 90px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .body {
    grid-column: 2/3;

    p {
      letter-spacing: 0.05em;
      margin: 0;
      font-weight: 400;
      @include f10();
      @include for-md {
        letter-spacing: 0.02em;
        @include f9();
      }
      @include for-xxl {
        letter-spacing: 0em;
        @include f7();
      }
    }
  }

  &:hover {
    transition: .25s;
    background: $primary-color-transparent;
    transform: scale(1.1);
    z-index: 10;
    //@include for-xxl {
    //  transform: scale(1.1);
    //}
  }
}
