.Description {
  //max-width: 526px;
  letter-spacing: 0.06em;
  line-height: 140%;
  padding-right: 30px;
  font-weight: 400;
  @include for-md {
    line-height: 180%;
  }
  @include for-lg {
    max-width: 526px;
  }
  @include for-xxl{
    max-width: 626px;
  }
}
