// Small tablets and large smartphones (landscape view)
$xs:  350;

// Small tablets and large smartphones (landscape view)
$sm:  576;

// Small tablets (portrait view)
$md:  768;

// Tablets and small desktops
$lg:  992;

// Large tablets and medium desktops
$xl:  1200;

// Large desktops
$xxl:  1440;

// Extra large desktops
$xxxl:  1920;
