.SearchingModesSection {
  width: 100%;

  .featuredContainer {
    gap: 30px 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    @include for-xxl{
      margin-bottom: 30vh;
    }
  }
}
