.SearchingModesSection {
  width: 100%;
  padding-top: 40px;
  @include for-lg{
    padding-top: 0;
  }
  h2{
    text-align: center;
  }

  .featuredContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 10px;
    gap: 6px;
    @include for-lg{
      gap: 12px 6px;
      margin-bottom: 20vh;
    }
    @include for-xxl{
      gap: 30px 10px;
    }
    @include for-xxxl{
      margin-bottom: 30vh;
    }
  }
}
