$primary-color: #00E0E0;
$primary-color-transparent: #00E0E070;
$primary-color-gradient: linear-gradient(180deg, #00D8CB 0%, #10B2BC 100%);

$green-light-color: #70FF00;
$pink-color: #FE7C9B;
$yellow-light-color: #FFF275;
$purple-light-color: #8875FF;

$red-color:#FE4A49;
$green-color:#20BF55;
$purple-color:#54269B;
$yellow-color: #F3BE00;

