
//Отступы от краев экрана
$screen-padding-xs: 17px;
$screen-padding-sm: 20px;
$screen-padding-lg: 30px;
$screen-padding-xl: 60px;
$screen-padding-xxl: 80px;
$screen-padding-xxxl: 250px;

$page-transition:550;

