@import "theme";
@import "others";
@import "fonts";
@import "full-page-overwrite";
:root {
  @include DefaultTheme();
}
html{
  color: white;
  font-family: Roboto, sans-serif;
}
figure{
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  //fontFamily: Montserrat, sans-serif,
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

::selection {
  background: var(--primary-color);
  color: grey;
}
