.OurAdvantages {
  .inner {
    display: grid;
    @include for-lg {
      grid-template-rows: auto auto auto;
      grid-template-columns: 2fr 4fr;
    }
    @include for-xl{
      grid-template-columns: 3fr 4fr;
    }
    h2 {
      margin-top: 0;
      @include for-lg {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      @include for-xxxl{
          @include f1();
      }
    }

    p.desc {
      font-weight: 400;
      margin-top: 0;
      @include f9();
      @include for-lg {
        @include f6();
      }
      @include for-lg {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }

    .advatages {
      margin: 30px auto 0 auto;
      padding: 0 2px;
      display: grid;
      grid-gap: 10px;
      max-width: max-content;
      align-self: center;
      //align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      @include for-md {
        grid-gap: 18px;
      }
      @include for-lg {
        margin: auto;
        grid-column: 2/2;
        grid-row: 1/4;
      }
    }
  }
}
