.Title {
    max-width: 526px;
    margin-bottom: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    line-height: 140%;
    font-weight: 700;
    @include for-lg{
        line-height: 120%;
    }
}
