.NewsSection {
  * {
    color: #252525 !important;
  }

  h2 {
    text-align: center;
    font-weight: 300;
    @include f4();
  }

  .inner {
    display: grid;

    .news {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      width: 100%;
      @include for-lg{
        justify-content: space-around;
      }
    }

    .allButton {
      color: currentColor;
      max-width: 170px;
      margin: auto;
      @include for-md{
        margin-top: 6vh;
      }
    }
  }
}
